@media(min-width: 991px){
    .gradient-background{
        height: 100vh;
        display: flex;
        align-items: flex-end;
    }
}

.gradient-background{
    background: linear-gradient(300deg, #f0bd7a, #e0118b);
    background-size: 200% 200%;
    animation: gradient-animation 5s ease infinite;
}

@keyframes gradient-animation{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.margin-top{
    margin-top: 8rem;
}